// ==================== FONTS ====================

@font-face {
  font-display: swap;
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alumni-sans-v18-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2") format("woff2");
}

// ==================== GENERAL RULES ====================

body,
html {
  height: 100vh;
}

$bg-color: #0a0a0a;
$accent-color: #957d4f;
$white-color: #faf9f6;
$index: calc(1vw + 1vh);
$transition: cubic-bezier(0.1, 0.4, 0, 1);

body {
  min-width: 320px;
  font-family: "Alumni Sans", sans-serif;
  background-color: $bg-color;
  scroll-behavior: smooth;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $accent-color;
  font-weight: normal;
}

main {
  margin-top: 7rem;
}

// ==================== WRAPPER ====================

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// ==================== SCROLLBAR ====================

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0a0a0a, #957c4f7a);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.1) inset;
  border-radius: 8px;
}

// ==================== CURSOR ====================

.cursor {
  position: fixed;
  border: 2px solid $white-color;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 10px $accent-color;
  top: -10rem;
  left: -10rem;
  height: 30px;
  width: 30px;
  transition: transform 0.2s;
  z-index: 999;
}

// ==================== LOADER ====================

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1000;

  &:after {
    content: "";
    width: 50px;
    height: 50px;
    border: 3px solid rgba(40, 40, 40, 0.3);
    border-top-color: $accent-color;
    border-radius: 50%;
    animation: loading 2s ease infinite;
  }

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

// ==================== HEADER ====================

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: $bg-color;
  z-index: 100;
  transition: all 0.7s ease-in-out;
}

.logo {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0 2rem;
    padding: 0 0.5rem;
    color: $accent-color;
    text-transform: uppercase;
    font-size: 25px;

    &:hover {
      transform: translateX(5px);
      transition: all ease 0.3s;
    }
  }

  a {
    text-decoration: none;
    color: $accent-color;
  }
}

// ==================== BURGER ====================

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $accent-color;
    transition: all 0.3s ease 0s;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &.active {
    span {
      transform: scale(0);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }

  span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: $accent-color;
  }
}

// ==================== DROPDOWN ====================

.dropdown {
  width: 4rem;
  position: relative;

  span.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  }
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  box-shadow: 0 0 2px $accent-color;
}

.caret {
  width: 0;
  height: 0;
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  border-top: 0.3rem solid $accent-color;
  transition: 0.3s;
  margin-left: 1rem;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  flex-direction: column;
  background: #0a0a0a;
  box-shadow: 0 0 20px $bg-color;
  border-radius: 0.5rem;
  color: #0a0a0a;
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;

  li {
    padding: 0.7rem 0.5rem;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $white-color;

    &:hover {
      background: $accent-color;
      color: $bg-color;
    }
  }
}

.menu-open {
  display: block;
  opacity: 1;
}

// ==================== OTHER ====================

.main {
  flex: 1 1 auto;
}

.open {
  display: flex !important;
}

.focused {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.no-scroll {
  overflow-y: hidden;
}

.none {
  display: none;
}

// ==================== MAIN PAGE ====================

.video {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 550px;
  margin-bottom: 2rem;

  video {
    filter: grayscale(1) brightness(0.5);
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.heading {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    position: relative;
    display: inline-block;
    color: $white-color;
    font-size: clamp(2.25rem, 2.0357rem + 1.0714vw, 3.75rem);
    text-transform: uppercase;
    animation: fade-down 1s 1.3s backwards;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100px;
      background-color: $accent-color;
      top: 50%;
    }

    &:before {
      right: 30px;
      transform: translate(-100%);
    }

    &:after {
      left: 30px;
      transform: translate(100%);
    }
  }
}

// ==================== BUTTON ====================

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem 3rem;

  a {
    text-decoration: none;
  }
}

.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 65px;
  background-color: $bg-color;
  border: 2px solid $accent-color;
  border-radius: 50%;
  outline: none;

  i {
    font-size: 20px;
    color: $accent-color;
  }

  &:hover {
    background-color: #957c4fd2;
    box-shadow: 0 0 15px $accent-color;
    transition: all ease 0.5s;

    i {
      color: $bg-color;
    }
  }
}

// ==================== ABOUT US ====================

.about {
  padding-top: 2rem;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
}

.about-title h1 {
  color: $white-color;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
  animation: fade-down 1s 0.5s backwards;
}

.about-image {
  border-radius: 15px;
  overflow: hidden;
  max-width: 200px;
  animation: fade-down 1s 0.5s backwards;

  img {
    width: 100%;
    height: auto;
  }
}

.about-text-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  pre {
    padding: 1.5rem 0;
    color: $accent-color;
    font-size: 25px;
    text-align: center;
    animation: fade-up 1s 0.5s backwards;
    font-family: "Alumni Sans", sans-serif;
  }
}

// ==================== BAR MENU ====================

.bar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar-menu-title {
  text-align: center;

  h1 {
    color: $white-color;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    animation: fade-down 1s 0.5s backwards;
  }

  p {
    color: $accent-color;
    font-size: 25px;
    text-align: center;
    animation: fade-down 1s 0.5s backwards;
  }
}

// ==================== SWIPER ====================

.swiper {
  width: 100%;
  height: 100%;
  padding: 3rem 1rem 2rem 1rem;
  animation: fade-up 1s 0.5s backwards;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0 10rem;
  color: $accent-color;
  user-select: none;

  &:active {
    outline: none;
    box-shadow: none;
  }
}

.swiper-pagination-bullet {
  background: $accent-color;
}

.swiper-slide {
  opacity: 1;
  transition: opacity 1s ease;
}

.swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  opacity: 0;
}

.swiper-slide img {
  height: 650px;
  width: auto;
  border-radius: 15px;
  box-shadow: -1px 1px 15px $accent-color;
}

// ==================== GALLERY ====================

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  text-align: center;

  h1 {
    color: $white-color;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    animation: fade-down 1s 0.5s backwards;
  }

  p {
    color: $accent-color;
    font-size: 25px;
    text-align: center;
    animation: fade-down 1s 0.5s backwards;
  }
}

.items-1,
.items-2 {
  display: flex;
  gap: 0.5rem;
  perspective: calc($index * 35);
  animation: fade-up 1s 0.5s backwards;
}

.items-1 {
  margin: 3rem 1rem 3rem 1rem;
}

.items-2 {
  margin: 3rem 1rem 2rem 1rem;
}

.item {
  width: calc($index * 4);
  height: calc($index * 13);
  background-color: $white-color;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(100%) brightness(0.9);
  transition: transform 1.25s $transition, filter 2s $transition, width 1.25s $transition;
  will-change: transform, filter;
  box-shadow: 0 0 5px $accent-color;
  border-radius: 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc($index * -1);
  }

  &::after {
    left: calc($index * -1);
  }

  // Right

  &:hover {
    filter: inherit;
    transform: translateZ(calc($index * 12));
    z-index: 1;
  }

  &:hover+* {
    filter: inherit;
    transform: translateZ(calc($index * 10)) rotateY(30deg);
    z-index: 2;
  }

  // Left

  &:has(+ :hover) {
    filter: inherit;
    transform: translateZ(calc($index * 10)) rotateY(-30deg);
  }

  // Active and Focus

  &.active,
  &:focus {
    width: 16vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc($index * 12));
    margin: 0 0.35vw;
  }
}

// ==================== CONTACT ====================

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-title {
  padding: 2rem 0;

  h1 {
    font-size: 60px;
    text-transform: uppercase;
    color: $white-color;
    animation: fade-down 1s 0.5s backwards;
  }
}

.contact-subtitle {
  display: flex;
  align-content: center;
  justify-content: center;
}

.contact-image {
  border-radius: 15px;
  overflow: hidden;
  max-width: 200px;
  animation: fade-down 1s 0.5s backwards;

  img {
    width: 100%;
    height: auto;
  }
}

.number {
  display: flex;
  flex-direction: column;
}

iframe {
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
}

// ==================== ACCORDION ====================

.accordion {
  text-align: center;
  width: 650px;
  animation: fade-up 1s 0.5s backwards;

  li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    color: $accent-color;
    margin: 1rem 0;

    label {
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 25px;
      cursor: pointer;

      span {
        margin-left: auto;
        margin-right: auto;
      }

      i:first-child {
        margin-right: 1rem;
        color: $accent-color;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
        font-size: 12px;
        transition: 0.5s ease;
      }
    }
  }

  a {
    font-size: 25px;
    color: $white-color;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
  }

  p {
    font-size: 25px;
    padding: 1rem;
    margin: 0.5rem 0;
    text-transform: uppercase;
    color: $white-color;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;

    &:hover {
      transform: translateX(5px);
      transition: all ease 0.3s;
    }
  }
}

.icon-rotate {
  transform: rotate(-45deg);
}

.accordion .contact-media i {
  font-size: 25px;
}

.accordion .social-media ul {
  display: flex;
  justify-content: center;
}

label {
  &:after {
    content: "";
    font-size: 40px;
  }
}

input[type="radio"] {
  display: none;
}

.accordion .map,
.accordion .number,
.accordion .social-media,
.accordion .working-hours {
  padding: 0 10px;
  line-height: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s, padding 1s;
}

.accordion input[type="radio"]:checked+label+.map,
.accordion input[type="radio"]:checked+label+.number,
.accordion input[type="radio"]:checked+label+.working-hours,
.accordion input[type="radio"]:checked+label+.social-media {
  max-height: 600px;
  padding-top: 10px 0;
}

.accordion input[type="radio"]:checked+label+.hours .menu {
  max-height: 300px;
}

.social-media i {
  font-size: 25px;
  padding: 0;
  color: $white-color;
  box-shadow: 0 0 20px $accent-color;
  border-radius: 50%;
  margin: 2rem 0.5rem 1rem 0.5rem;
}

// ==================== FOOTER ====================

.footer {
  margin-top: auto;
  text-align: center;

  h6 {
    text-align: center;
    font-size: 14px;
    color: $accent-color;
    text-align: end;
  }

  span {
    padding-top: 0.3rem;
    display: block;
    text-align: center;
    font-size: 14px;
    color: $white-color;
  }
}

.footer-title {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ==================== MEDIA ====================

@media only screen and (max-width: 1366px) {

  .items-1,
  .items-2 {
    display: none;
  }

  .swiper {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .burger {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: start;
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow: hidden;
    padding: 50px 40px;
    background: linear-gradient(to left, #000, #0a0a0a, #0d0d0d, #1a1a1a);
    animation: burgerAnimation 0.5s;

    ul {
      flex-direction: column;
      row-gap: 30px;
      padding-top: 50px;
    }

    li {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .menu-open {
    display: block;
    opacity: 1;
    top: -150px;
    row-gap: 0 !important;
    padding-top: 0 !important;
  }

  .dropdown {
    margin-bottom: 1rem;
  }

  .accordion span:hover {
    transform: none;
    transition: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 0 5rem;
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@media only screen and (max-width: 600px) {
  .swiper-slide img {
    height: 450px;
    width: auto;
    border-radius: 15px;
    box-shadow: -1px 1px 10px $accent-color;
  }

  iframe {
    border-radius: 20px;
    width: 100vw;
    box-sizing: border-box;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  .swiper-slide img {
    height: 380px;
    width: auto;
    border-radius: 10px;
    box-shadow: -1px 1px 10px $accent-color;
  }
}